* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background: url('/images/terchova\ login.jpg') no-repeat center center;
    background-size: cover;
}

.right {
    flex: 1;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-box {
    width: 400px;
    height: 500px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box .remember {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.login-box .remember input {
    margin-right: 8px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #009858;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #007b44;
}

.login-box .links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;
}

.login-box .links a {
    text-decoration: none;
    color: #333;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.logo-img{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 70px;
    margin-top: 60px;
     
}